
<% if(locals.all_users.length > 0) { %> 
    <% for(let i=0; i < all_users.length; i++) {%>
        <% const {id, name, email, password, isAdmin} = all_users[i] %> 
        <% if(locals.user.name !== name) {%>
            <tr class="list">
                <td style="text-transform: capitalize;"><%= name %></td>
                <td><%= email %></td>
                <td><%= password %></td>
                <% if(!isAdmin) { %> 
                    <td>Employee</td>
                <% } else { %> 
                    <td>Admin</td>
                <% } %>
                <td>
                    <div class="actions-btn">
                        <a href="/user/dashboard?action=add&id=<%=id%>" class="edit-btn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="/user/dashboard/<%=id %>" class="delete-btn">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </td> 
            </tr>
        <% } %>
    <% } %>
<% } else { %> 
    <h2 style="text-align: center; margin-top: 80px; color: teal;">Add Employees</h2>    
<% } %>
