<form class="form" action="/user/add" method="post">
    <% if(Object.keys(locals.editUser).length !== 0) { %>
        <% const {name, email, password, isAdmin} = locals.editUser %>
        <div class="left">
            <input class="input-field" type="text" name="name" value="<%= name %>" placeholder="name">
            <input class="input-field" type="email" name="email" value="<%= email %>" placeholder="email" required>
        </div>
        <div class="right">
            <input class="input-field" type="password" value="<%= password %>" name="password" placeholder="password">
            <div class="input-field label">
                <label for="admin" style="color: #1A3C40; font-size: .95rem;">Admin</label>
                <select name="admin" id="admin">
                    <option value="<%= isAdmin %>"><%= isAdmin %></option>
                    <option value="<%= !isAdmin %>"><%= !isAdmin %></option>
                </select>
            </div>
        </div>
        <button type="submit" class="save-form-btn">Update</button>
    <% } else { %> 
        <div class="left">
            <input class="input-field" type="text" name="name" placeholder="name">
            <input class="input-field" type="email" name="email" placeholder="email" required>
        </div>
        <div class="right">
            <input class="input-field" type="password" name="password" placeholder="password">
            <div class="input-field label">
                <label for="admin" style="color: #1A3C40; font-size: .95rem;">Admin</label>
                <select name="admin" id="admin">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
        </div>
        <button type="submit" class="save-form-btn">Save</button>
    <% } %>
</form>