<!-- <% if(locals.user) {%> 
    <h1>Welcome to the dashboard <%= user.name %></h1>
<% } %> -->
<link rel="stylesheet" href="/css/dashboard.css" />

<div class="dashboard-container">
  <div id="message"></div>
    <!-- admin view -->
  <div class="tabs">
      <% if(locals.action === "list" || locals.action === undefined) {%>
         <a href="/user/dashboard?action=list" id="employee" class="tab-btn active-tab">Employees</a>
      <% } else { %> 
        <a href="/user/dashboard?action=list" id="employee" class="tab-btn">Employees</a>
      <% } %>
      <% if(locals.action === "add") {%>
      <a href="/user/dashboard?action=add" id="add-employee" class="tab-btn active-tab">Add Employee</a>
      <% } else { %>
      <a href="/user/dashboard?action=add" id="add-employee" class="tab-btn">Add Employee</a>
      <% } %>
      <% if(locals.action === "assign") {%>
      <a href="/user/dashboard?action=assign" id="assign-task" class="tab-btn active-tab">Assign Task</a>
      <% } else { %>
      <a href="/user/dashboard?action=assign" id="assign-task" class="tab-btn">Assign Task</a>
      <% } %>
      <% if(locals.action === "view_task") {%>
      <a href="/user/dashboard?action=view_task" id="view-task" class="tab-btn active-tab">View Task</a>
      <% } else { %>
      <a href="/user/dashboard?action=view_task" id="view-task" class="tab-btn">View Task</a>
      <% } %>
  </div>

  <% if(locals.action === "list" || locals.action === undefined) { %>
  
      <table class="list-container">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%- include("partials/_list"); %>
          </tbody>
      </table>
 
  <% } else if(locals.action === "add") { %> 
    <%- include("partials/_update"); %>
  <% } else if(locals.action === "assign") { %> 
     <%- include("partials/_assign"); %>
  <% } else if(locals.action === "view_task") { %>
    <%- include("partials/_view-task"); %>
  <% } %>

   <!-- Employee view -->
</div>

<script src="/js/script.js"></script>
