<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- my css -->
    <link rel="stylesheet" href="/css/styles.css">

    <%- style %>
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar">
    <h1>
        <a href="/">
            <i class="fa-brands fa-pied-piper logo"></i>
        </a>
        <span class="brand">C</span>ompany
    </h1>
    <% if(locals.user) {%> 
        <div class="user">
            <h3 class="user-name"> <%= user.name %> (admin)
                <a href="/logout" class="log-out-btn">Log Out</a>
            </h3>
        </div>
    <% } %>
    </nav>
     <%- body %>
     <%- script %>
</body>
</html>